:root {
  --color-red: #aa0000;
  --color-green: #159b03;
  --color-light: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: start;
}

.menu .logo {
  position: relative;
  text-decoration: none;
  color: var(--color-red);
}

.menu ul {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.menu ul li {
  position: relative;
  list-style: none;
}

.menu ul li a {
  font-family: calibri !important;
  text-decoration: none;
  color: var(--color-red);
  padding: 10px 20px;
  background: var(--color-light);
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
}

.button-red {
  background-color: var(--color-red);
}

.container {
  position: relative;
  display: block;
}

.container .content {
  position: relative;
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.container .content .card {
  position: relative;
  border: 1px solid #eee;
  border-radius: 10px;
  overflow: hidden;
  max-width: 320px;
  max-height: 350px;
  margin: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container .content .card img {
  position: relative;
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.container .content .card .card-body {
  position: relative;
  padding: 10px;
}

.container .content .card .card-body h3 {
  font-style: italic;
  font-size: 30px;
  font-family: calibri !important;
  color: red;
}

.container .content .card .card-body button {
  position: relative;
  display: inline-block;
  border: none !important;
  border-radius: 4px;
  outline: none !important;
  background: none;
  padding: 5px 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--color-red);
  color: var(--color-light);
  cursor: pointer;
}
